.app.dark {
  --bg-color: #000000d4;
  --inverted-bg-color: #dadadac5;

  --primary-color: #c7c6c6c8;
  --secondary-color: #d8d7d7c7;
  --inverted-primary-color: #000000;
  --inverted-secondary-color: #1f15153d;
}
