:root {
    --bg-color: #cbc7c7;
    --inverted-bg-color: #000000d4;
  
    --primary-color: #000000;
    --secondary-color: #1f15153d;
    --inverted-primary-color: #c7c6c6c8;
    --inverted-secondary-color: #d8d7d7c7;
  }